APP_PORT=8080
APP_HOST=pdf-extractor.local
APP_PROTOCOL=http
RAILS_ALLOWED_HOSTS=localhost,127.0.0.1,pdf-extractor.local,pdf-extractor.company.local,10.0.0.0/8,172.16.0.0/12,192.168.0.0/16
RAILS_ASSUME_SSL=false
RAILS_FORCE_SSL=false
RAILS_ENV=production
RAILS_LOG_LEVEL=info
RAILS_MAX_THREADS=5
SECRET_KEY_BASE=replace_with_output_of_bin_rails_secret

POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_EXPOSE_PORT=55433
POSTGRES_DB=company_pdf_extractor_production
POSTGRES_CACHE_DB=company_pdf_extractor_production_cache
POSTGRES_QUEUE_DB=company_pdf_extractor_production_queue
POSTGRES_CABLE_DB=company_pdf_extractor_production_cable
POSTGRES_USER=pdf_extractor_app
POSTGRES_PASSWORD=replace_with_strong_database_password

PYTHON_EXTRACTOR_BIN=/opt/pdf-extractor-venv/bin/python
