<% if resource&.errors&.any? %>
  <div class="error-card">
    <strong><%= pluralize(resource.errors.count, "problem") %> prevented this form from saving:</strong>
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
